.right-section {
  width: 45%;
  padding: 2% 4%;
  background: #ffffff;
  border-radius: 2rem;
  box-shadow: 0 0.7rem 1rem #9c9c9c;
  position: relative;
}
.right-section figure {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.right-section figure img {
  display: block;

}

.right-section__messages {
  height: 75%;
  overflow-y: scroll;
}

.right-section__message {
  display: flex;
  flex-direction: column;
  
  /* position: relative; */
}

.hide {
  display: none;
  border: 5px solid red;
}

.show {
  display: block;
}

@media screen and (max-width: 530px) {
  .right-section {
    /* margin-top: 2rem; */
    width: 88%;
    padding: 2% 6%;
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }
}